<div class="footer justified">
	<a class="footer-item" ng-href="#/ta">
		<i class="icon icon-home" ng-class="{'active':active=='index'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='index'}">约爱</span>
	</a>
	<a class="footer-item" ng-href="#/search">
		<i class="icon icon-search" ng-class="{'active':active=='search'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='search'}">搜索</span>
	</a>
	<a class="footer-item" ng-href="#/messages">
		<i class="icon icon-message" ng-class="{'active':active=='messages'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='messages'}">消息</span>
	</a>
	<a class="footer-item" ng-href="#/services">
		<i class="icon icon-service" ng-class="{'active':active=='services'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='services'}">服务</span>
	</a>
	<a class="footer-item" ng-href="#/me">
		<i class="icon icon-user" ng-class="{'active':active=='me'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='me'}">我的</span>
	</a>
</div>