<div class="wrap">
    <div class="portal-section">
        <div class="portal-content">
            <div class="logo">
                <imageview data-rate="333/94" src="'../images/logo_1.png'"></imageview>
            </div>
            <p class="text-center">免费在线剩余时长 - 09:30 分</p>
        </div>
        <imageview data-rate="750/1334" src="'../images/bg.png'"></imageview>
    </div>
    <div class="ad-section">
        <imageview data-rate="750/681" src="'../images/ad.png'"></imageview>
    </div>
</div>
