// ---------------------------------------reset
body {
	font-family: gothambook, "微软雅黑";
}
a {
    .link();
}
// ---------------------------------------layout
.wrap {
	position: relative;
	width: 100%;
	max-width: 1160px;
	padding:15px;
	margin: auto auto;
	.box-sizing(border-box);
}
// ---------------------------------------until
.full-width {
    width: 100%;
    .box-sizing(border-box)
}
.text-ellipsis,.text-overflow {
    .text-overflow();
}
.link() {
	text-decoration: none;
	color: inherit;
}